[Desktop Entry]
Name=Cursor
Comment=The AI Code Editor.
GenericName=Text Editor
Exec=@HOME@/.local/bin/cursor-cgwrap cursor @EXTRA_ARGS@ %F
Icon=co.anysphere.cursor
Type=Application
StartupNotify=false
StartupWMClass=Cursor
Categories=TextEditor;Development;IDE;
MimeType=application/x-cursor-workspace;
Actions=new-empty-window;
Keywords=cursor;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=@HOME@/.local/bin/cursor-cgwrap cursor @EXTRA_ARGS@ --new-window %F
Icon=co.anysphere.cursor
